<header>
  <nav>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          href="{{ url_for('home') }}"
          class="nav-link {% if home == True %} active {% endif %}"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          href="{{ url_for('courses') }}"
          class="nav-link {% if courses == True %} active {% endif %}"
          >Classes</a
        >
      </li>
      <li class="nav-item">
        <a
          href="{{ url_for('register') }}"
          class="nav-link {% if register == True %} active {% endif %}"
          >Register</a
        >
      </li>
      <li class="nav-item">
        <a
          href="{{ url_for('login') }}"
          class="nav-link {% if login == True %} active {% endif %}"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a
          href="{{ url_for('contact') }}"
          class="nav-link {% if contact == True %} active {% endif %}"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
  <hr style="clear: both" />
</header>
